@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agrandir-Regular';
  src: url('./fonts/Agrandir/Agrandir-Regular.otf');
}

@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('./fonts/Agrandir/Agrandir-GrandHeavy.otf');
}

@font-face {
  font-family: 'Agrandir-TextBold';
  src: url('./fonts/Agrandir/Agrandir-TextBold.otf');
}

*{
  margin: 0;
  padding: 0;
}